header {
    background-color: red;
    height: 118px;
    text-align: center;
    font-size: 40px;
    color: white;
    padding-top: 24px;
    font-family: 'Macondo', cursive; 
  }

main {
    background-color: black;
    height: 1000px;
    color: white;
  }

h1 {
    color: white;
    text-align: center;
    font-size: 25px;
    padding-bottom: 100px;
} 

.pill-nav a {
  font-size: 25px;
  color: white;
  background-color: black;
  padding-left: 50px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}